.organization {
  cursor: pointer;
}

.organization img {
  max-width: 80px;
}

.organization.starred {
  color: red;
}

.organizations {
  display: flex;
}

.sidebar {
  width: 200px;
}

.main {
  flex: 1;
}
