{{#link-to 'organizations.index'}}
  Back to index
{{/link-to}}

{{collection-index-info
  collection=model.organizations
  item=model.organization}}

<p>Organization details:</p>

<img src={{model.organization.avatar_url}}>
