{{#link-to 'organizations.index'}}
  Back to index
{{/link-to}}

{{collection-index-info
  collection=model.organizations
  item=model.organization}}

<p>Organization details:</p>

<img src={{model.organization.avatarUrl}}>

<ul>
  {{#each model.organization.repositories as |repo|}}
    <li>{{repo.name}}</li>
  {{/each}}
</ul>
